$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$backBlock: #222;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}


.header {
    min-height: 75px;
    max-width: 1600px;

    background: $backBlock;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: baseline;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}

.top-head{
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-head__heading{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs__link_site{
    font-weight: 700;
    color: $colorSelectSite;
}


.main {
    background-color: rgb(247, 247, 247);

    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 11px;
        padding-bottom: 42px;
    }

    &__button {
        width: 47px;
        height: 47px;
        border: none;
        background-color:  rgb(192, 192, 187);

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    &__button:hover path {
        fill: $colorSelectSite;
    }


    &__center {
        display: flex;
        justify-content: center;
        background: #ffffff;
       
        
    }

    &__info {
        margin-top: -65px;
        padding: 65px 293px;

        background-color: #FFFFFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        & h4 {
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: $colorSelectSite;
        }

        & span {
            width: 63px;
            border: 2px solid $colorSelectSite;
            margin: 12.1px 0;
        }

        & h2 {
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            color: #4D4D4D;
        }

        &__text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #5E5E5E;
            margin: 48.41px 0 32.27px;
        }

        &__price {
            font-family: Lato;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            color: $colorSelectSite;
        }

        &__features {
            margin: 130.09px 0 48.91px;
            display: flex;
            gap: 42px;
        }

        &__features button {
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #6F6E6E;
            background-color: white;
            border: none;
            cursor: pointer;
        }

        &__button {
            padding: 14.62px 57px 8.57px 24px;
            display: flex;
            align-items: center;
            gap: 22.91px;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            background-color: #FFF;
            color: $colorSelectSite;
            border: 1px solid $colorSelectSite;
        }

        &__button:hover {
            background-color: $colorSelectSite;
            color: white;
            transition: .3s;
        }

        &__button:hover path {
            fill: white;
        }
    }

    &__bottom {
        background: #FFF;
    }

    &__bottom__items {
        padding: 128px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

}


.product {

    &__box {
        width: 100%;
        height: 420px;
        position: relative;

        &__itemHover {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(58, 56, 56, 0.86);
            z-index: 1;
            opacity: 0;
            cursor: pointer;
        }

        &__itemHover:hover {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 100%;

        }

        &__buy-button {
            display: flex;
            align-items: center;
            gap: 11px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 17px;
            padding: 13px;
            border: solid #FFFFFF 1px;
            background: transparent;
            cursor: pointer;
        }

        &__buy-button:hover {
            border-color: #E1E1E1;
            box-shadow: 0px 0px 10px #E1E1E1;
        }

        &__buy-button-img {
            width: 24px;
        }

        &__img {
            width: 100%;
            z-index: -1;
        }
    }

    &__content {

        background: #F8F8F8;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        padding: 24px 16px;

        &__heading {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
        }

        &__price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $colorSelectSite;
        }
    }
}





.subscribe {
    min-height: 448px;
    background-size: cover;
    background-position: center;
    background-image: url(img/fon.svg);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 223.26px;

    &__staff {
        text-align: center;

        &__figure-text {
            margin-top: 30px;

            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            color: $backBlock;
        }
    }

    &__input-email {
        display: grid;
        justify-items: center;

        &__text {
            font-family: 'Lato';
            font-style: normal;
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: $backBlock;

            margin-bottom: 32px;
        }

        &__title {
            font-weight: 600;
            font-size: 24px;
        }

        &__submit {
            display: flex;

            &__subscribe {
                padding: 0 20px 0 20px;
                height: 49px;
                border-radius: 30px 0 0 30px;

                border: none;
                width: 256px;
                background: #E1E1E1;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                color: $backBlock;
                opacity: 0.67;
            }

            &__btn {
                border-radius: 0 30px 30px 0;

                border: none;
                width: 100px;
                background: $colorSelectSite;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                text-align: center;
                color: #FFFFFF;
                justify-content: center;

                cursor: pointer;
            }
        }
    }

}


.footer {
    background: $backBlock;

    min-height: 79px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__items {
        display: flex;
        gap: 7.29px;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 32px;
            height: 32px;
            background-color: white;
        }

        &__item:hover {
            background-color: $colorSelectSite;
        }

        &__item:hover path {
            fill: white;
        }
    }
}





